* {
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #78a2cc;
}

/* Begin Header Styling */
.container {
	width: 95%;
}

.navbar-toggle {
	margin-right: 0px;
}

#header-nav {
  background-color: #77D077;
  border-radius: 0;
  border: 0;
  border-bottom-width: 2px;
  border-bottom-color: black;
  border-bottom-style: solid;
}

.navbar-brand {
	padding-left: 0px;
}

.navbar-brand h1 {
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  overflow: hidden;
  padding-top: 1px;
  padding-left: 0px;
  padding-bottom: 10px;
}

#collapsable-nav {
	background-color: #77D077;
	padding-left: 0px;
	padding-right: 0px;
	border-top: 0px;
}

#nav-list {
	border-top-width: 2px;
	border-top-color: black;
	border-top-style: solid;
	margin: 0px;
	background-color: #fdfd96
}

#nav-list a {
  color: #000;
  font-size: 1.5em;
  border-bottom-width: 1px;
  border-bottom-color: #000;
  border-bottom-style: solid;
}

/* #nav-list a.last: Prevents the bottom border of the last item 
of the nav-list from being added to the bottom border of the 
header-nav creating a thicker border */
#nav-list a.last {
	border-bottom-width: 0px;
}

#nav-list a:hover {
  background: #C3B1E1;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}

/* Media inquiry to adjust container width of the header to 
ensure the drop menu takes the full screen width for mobile. 
Also adjusts the padding around the header elements to keep
them consistent with the container width for the non-mobile
screen widths.*/
@media (max-width: 767px) {
	/*section.container {
		width: 80%;
	}*/
	header .container {
		width: 100%;
	}
	.navbar-brand {
		padding-left: 2.5%;
	}
	.navbar-toggle {
		margin-right: 2.5%;
	}	
}

/* Begin Body Styling */

h2 {
	color: #000;
	margin-top: 0px;
	margin-bottom: 40px;
	font-weight: bold;
}

h3 {
	color: #000;
	font-weight: bold;
	margin-top: 10px;
}

.list-item {
	background-color: #77D077;
	margin-bottom: 20px;
}

section p.content {
	color: #000;
	padding: 10px 10px 5px 10px;
	margin-bottom: 5px;
	padding-bottom: 2px;
}

a.link-to-top {
	color: #0000FF;
	padding-right: 10px;
}

/* Selec paragraphs that have bootstrap's text-center
class and fix spacing */
p.text-center {
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
}